# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
\


# Virtual environment
.venv/
venv/
ENV/
env/

# IDE settings
.idea/
.vscode/
*.iml

# OS files
*.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
coverage.xml

# Logs
*.log
